#screensaver {
  @include transition(opacity .5s);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: arial, sans-serif;
  font-size: 62.5%;
  background-image: url('/assets/images/screensaver_bg.jpg');
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #005678;
  opacity: 0;
  visibility: hidden;

  .saver-logo {
    width: 120px;
  }

  .slogan {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    @include translateY(-50%);

    &.slogan-link {
      border: 2px solid #ffffff;
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .device-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
  }

  &.left {
    text-align: left;
    background: #0072a3;

    .slogan {
      left: 0;

      &.slogan-text {
        display: block;
      }

      &.slogan-link {
        display: none;
      }
    }

    .device-info {
      text-align: left;
    }
  }

  &.right {
    text-align: right;
    background: #000000;

    .slogan {
      left: auto;
      right: 0;

      &.slogan-text {
        display: block;
      }

      &.slogan-link {
        display: none;
      }
    }

    .device-info {
      text-align: right;
    }
  }

  &.center {
    text-align: center;

    .slogan {
      &.slogan-text {
        display: none;
      }

      &.slogan-link {
        display: block;
        cursor: pointer;
      }
    }

    .device-info {
      text-align: center;
    }
  }
}