.thing-form {
    margin: 20px 0;
}

.alert {
  margin-top: 1em;
  span {
    font-size: 1.5em;
  }
}
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.main {
    text-align: center;
}

.main h2 {
  padding: 20px 0 20px 0;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #00a4e4;
}
td {
  &[contenteditable] {
    &:not(:focus) {
      cursor: pointer;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &:focus {
      outline: none;
    }
  }
  span {
    &.glyphicon-ok {
      color: green;
    }

    &.glyphicon-remove {
      color: red;
    }
  }
}

.none {
  display: none;
}

.remove-user-link {
  cursor: pointer;
  float: right;
}

.glyphicon-trash .glyphicon-remove .glyphicon-ok {
  vertical-align: middle;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
