<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Users</h1>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <p><a ng-href="/admin/user">Add new user</a></p>
      <table class="table">
        <thead>
        <tr><th>Name</th></tr>
        </thead>
        <tbody ng-repeat="user in users | orderBy:'name':0">
          <tr>
            <td><a ng-href="admin/user/{{user._id}}"><img class="gravatar-icon-small" src="{{user.gravatar_img}}">{{user.name}}</a><a class="remove-user-link" ng-click="removeUser(user)"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


