#gravatar-icon {
	float: right;
}

.gravatar-icon-small {
  max-height: 1.6em;
  margin-right: 0.6em;
}

.remove-user-link {
	cursor: pointer;
	float: right;
}

.glyphicon-remove {
	vertical-align: middle;
	color: #00a4e4 !important;
}
