<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Loan History</h1>
      <table class="table">
        <thead>
        <tr table-sort-indicator>
          <th ng-click="sortBy('deviceLabel')">Device Label</th>
          <th ng-click="sortBy('deviceName')">Device Name</th>
          <th ng-click="sortBy('userName')">Lender</th>
          <th ng-click="sortBy('start')">Start Time</th>
          <th ng-click="sortBy('end')">End Time</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="loan in loans">
            <td>{{loan.deviceLabel}}</td>
            <td>{{loan.deviceName}}</td>
            <td>{{loan.userName}}</td>
            <td>{{loan.start | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{loan.end | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
      <pagination
        ng-model="currentPage"
        total-items="totalItems"
        items-per-page="itemsPerPage"
        ng-change="pageChanged()"
      ></pagination>
    </div>
  </div>
</div>
