.float-right {
  float: right;
}

.table-icon {
  max-width: 22px;
}

.table-user {
  border-top: 0px !important;
  min-width: 140px;
}

.user-icon-devices {
  max-height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.user-icon-hidden {
  visibility: hidden;
  min-width: 20px;
}

.serial-number {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
